<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un utilisateur</title>
</head>
<body>
<h1>Ajouter un user</h1>
<form th:action="@{/categories/add}"
      th:object="${categoriesForm}" method="POST">
  Nom de la catégorie:
  <input type="text" th:field="*{name}" />
  <br/>
  <input type="submit" value="Enregistrer" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
  ...
</div>

</body>
</html>